.QWidget{
    border:1px inset #000000;
    background-color:#FFDEAD;
}
.QTableWidget{
    selection-background-color:#1E90FF;
}
.QLabel#lb_Pdca{
    font: 75 22pt "Arial";
    color: rgb(200, 220, 220);
}
.QPushButton{

}